body{
  background-color: darkslateblue;
}
.App {
  display: flex;
  justify-content: center;
}
.container{
  text-align: center;
  margin: 200px;
  border: 2px black solid;
  padding: 20px;
}

.inputError{
  background-color: firebrick;
  color: white;
}
.redCount{
  color: red;
}
.button{
  border-radius: 10px;
  height: 40px;
  width: 90px;
  font-size: 20px;
  background-color: black;
  margin: 5px;
  color: darkslateblue;
  border-color: black;
}
.counter{
  font-size: 30px;
  font-weight: bold;
}
.input{
  background-color: darkslateblue;
  color: white;
  font-weight: bold;
}
.count{
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
.buttonBorder{
  border:2px solid black;
  padding: 10px;
}

